_footer.erb
<div class="footer">
  <ul class="list-inline">
    <li><a hfref="http://youtube.com/ramonsuarez" class="fa fa-youtube fa-2x"></a></li>
    <li><a hfref="https://www.instagram.com/ramonsuarez/" class="fa fa-instagram fa-2x"></a></li>
    <li><a hfref="http://facebook.com/ramonsuarez" class="fa fa-facebook fa-2x"></a></li>
    <li><a hfref="http://twitter.com/ramonsuarez" class="fa fa-twitter fa-2x"></a></li>
  </ul>
  <p>This is an Airbnb Home challenge @LeWagon</p>
</div>
