<div class="footer">
  <ul class="list-inline">
    <li><%= link_to "", "https://youtube.com/ramonsuarezv", class: "fa fa-youtube fa-2x" %>
    <li><%= link_to "", "https://www.instagram.com/ramonsuarez/", class: "fa fa-instagram fa-2x" %></li>
    <li><%= link_to "", "https://facebook.com/ramonsuarez", class: "fa fa-facebook fa-2x" %></li>
    <li><%= link_to "", "https://twitter.com/ramonsuarez", class: "fa fa-twitter fa-2x" %></li>
  </ul>
  <p>This is an Airbnb Home challenge @LeWagon</p>
</div>
